
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navigation</title>
</head>
<body>
    <h1>Navigation</h1>
    <ul>
        <li><a href="/Realty/ShowAllRealty">Realty</a></li>
        <li><a href="/Contract/ShowAllContracts">Contracts</a></li>
    </ul>
</body>
</html>
